<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
 </head>
 <body ng-controller="superCtrl as vm">
   <h3>Marvel.name</h3> <p>Search:</p>
   <input type="text" ng-model="vm.search">

   <div ng-repeat="hero in vm.heroes | filter: vm.search">
     <div class="{{hero.affiliation}}">
       <div class="inner">
         <div class="left">

           <p>Phone Number: {{hero.phone}}</p>
           <p>Affiliation: {{hero.affiliation}}</p>
           <button ng-click="vm.togglePicture[$index] = !vm.togglePicture[$index]">Show Picture</button>
         </div>
         <div class="right">
           <img ng-src="{{hero.image_url}}" ng-show="vm.togglePicture[$index]">
         </div>
       </div>
     </div>
   </div>
  </body>
  </html>
